numpy
pandas
scipy
matplotlib
geopy
geocoder
python-whois
ipwhois
igraph
networkx
mpl-tools
PyPDF2
requests
beautifulsoup4
requests-html
scikit-learn
nltk
Levenshtein
wayback
htmldate
selectolax
Pillow
trafilatura
rpy2
courlan
comcrawl
