beautifulsoup4>=4.11.1
cloudscraper>=1.2.71
colorama>=0.4.5
comcrawl>=1.0.2
courlan>=0.9.5
exrex>=0.11.0
geocoder>=1.38.1
geopy>=2.4.1
instaloader>=4.10.3
ipwhois>=1.2.0
matplotlib>=3.8.2
networkx>=2.8.4
nltk>=3.8.1
nltk>=3.7
numpy>=1.24.4
pandas>=1.4.4
PyPDF2>=3.0.1
python_docx>=1.1.0
python_igraph>=0.10.6
python_Levenshtein>=0.23.0
python_Levenshtein>=0.25.0
python_whois>=0.8.0
Requests>=2.31.0
requests_futures>=1.0.1
requests_html>=0.10.0
rpy2>=3.5.14
scikit_learn>=1.4.0
selectolax>=0.3.17
selenium>=4.18.1
torrequest>=0.1.0
trafilatura>=1.6.3
wayback>=0.4.3
youtube_comment_downloader>=0.1.70
youtube_dl>=2021.12.17
